<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
>
<style>
body {background-color: #F9F3DF;
color:#3D0000;
text-align:center;}

ul li{
list-style:none;}
li a{
text-decoration:none;
color:#3D0000;}
a:hover{
color:#3D0000;
background-color:#F9F3D}
.footer{color:#3D0000;
margin-top:30%;
text-align:center;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Following</title>
</head>
<body>
<header>
    <h2 style="margin-top:2%;margin-bottom:2%;text-align:center" class="display-4">Following List</h2>

    <main>
        <ul class="following-list">
            <li th:each="user : ${users}">
                <a class="lead" th:href="@{'/users/' + ${user.id}}">
                    <span th:text="${user.username}"></span>
                </a>

            </li>
        </ul>

    </main>
</header>
</body>
<footer>
    <p class="footer">copyright &copy; 2021 ASAC </p>
</footer>
</html>