<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div >
    <h1 class="display-4">Codefellowship</h1>
    <h2>Welcome, <span th:text="${principal}"></span>!</h2>
    <p class="lead">Code Fellows enables you to challenge your learning every day, and motivates you to be an impactful individual and a strong team player.</p>
    <hr class="my-4">
    <p>Don't miss the Chance, Sign Up with us Now !</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a>
    </p>
</div>
<footer>
    <p>copyright &copy; 2021 Rawan Alazazi </p>
</footer>
</body>
</html>