<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<main>
    <h2>Login</h2>


    <form method="POST" action="/login">

        <label  for="username">
            <p class="label-txt">ENTER Username</p>
            <input type="text" class="input" name="username" id="username">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <label  for="password">
            <p class="label-txt">ENTER PASSWORD</p>
            <input type="password" class="input" name="password" id="password">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </main>

</body>
</html>