<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>One User</title>
</head>
<body>

<h1>User : <span th:text="${appUser.username}"></span></h1>

<p>First Name: <span th:text="${appUser.firstName}"></span></p>
<p>Last Name: <span th:text="${appUser.lastName}"></span></p>
<p>Date of Birth: <span th:text="${appUser.dateOfBirth}"></span></p>
<p>Bio: <span th:text="${appUser.bio}"></span></p>


</body>
</html>