<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
<main>
    <h2>Sign Up</h2>

    <form method="POST" action="/signup">

        <label  for="username">
            <p class="label-txt">ENTER Username</p>
            <input type="text" class="input" name="username" id="username">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <label  for="password">
            <p class="label-txt">ENTER PASSWORD</p>
            <input type="password" class="input" name="password" id="password">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <label  for="firstname">
            <p class="label-txt">ENTER FIRST NAME</p>
            <input type="text" class="input" name="firstname" id="firstname">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <label  for="lastname">
            <p class="label-txt">ENTER LAST NAME</p>
            <input type="text" class="input" name="lastname" id="lastname">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <label  for="dob">
            <p class="label-txt">Date of Birth</p>
            <input type="date" class="input" name="dob" id="dob">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <label  for="bio">
            <p class="label-txt">Bio</p>
            <input type="text" class="input" name="bio" id="bio">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</main>
</body>
</html>