<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
<main>
    <h2>Sign Up</h2>

    <form method="POST" th:action="@{/signup}">

        <label  for="username">
            <p > Username</p>
            <input type="text" class="input" name="username" id="username">
        </label>

        <label  for="password">
            <p > Password</p>
            <input type="password" class="input" name="password" id="password">
        </label>
        <label  for="firstName">
            <p> First Name </p>
            <input type="text" class="input" name="firstName" id="firstName">
        </label>

        <label  for="lastName">
            <p class="label-txt">Last Name</p>
            <input type="text" class="input" name="lastName" id="lastName">
        </label>

        <label  for="dateOfBirth">
            <p class="label-txt">Date of Birth</p>
            <input type="date" class="input" name="dateOfBirth" id="dateOfBirth">
        </label>

        <label  for="bio">
            <p class="label-txt">Bio</p>
            <input type="text" class="input" name="bio" id="bio">
        </label>

        <button type="submit" class="btn btn-primary">Signup</button>
    </form>

</main>
</body>
</html>