<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
>
<head>
    <meta charset="UTF-8">
    <title>Update post</title>
</head>
<body>
<main>
    <form method="POST"  th:action="@{/update/__${post.id}__}"
          th:object="${post}" >

        <label  for="body">
            <p class="display-4" style="padding: 50px;">Update your Post</p>
            <textarea name="body" th:field="*{body}" id="body" class="input" rows="10" cols="600" style="width:50%"></textarea>
        </label>
        <span th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></span>
        <input type="Submit" value="Update Post" class="btn btn-primary" style="background-color:#3D0000; margin-left:44%;border: #F9F3DF;color:white; margin-right:46.5%;font-weight:bold;"/>
    </form>
</main>

</body>
</html>